body {
    width: 1000x;
}

#banner {
    height: 125px;
    background-image: url("img/pattern.png");
    background-size: cover;
}

#sottobanner {
    height: 100px;
    width: 200px;
}

#nomeautore {
    font-size: 20px;
    font-weight: bold;
}

#linknickname {
    color: #15a5e4;
    text-decoration: none;
}